<main class="page">
  <nav class="navbar">
    <a class="brand" href="/">
      <div class="icon">[ &nbsp; ]</div>
      <div class="name">Box UI</div>
    </a>
    <div class="nav-list collapsed">
      <div class="hamburger-button"><div class="lines"></div></div>
      <a [routerLink]="['Docs']">Docs</a>
      <a [routerLink]="['Examples']">Examples</a>
    </div>
  </nav>
  <header class="page-header">
    Box UI Documentation
  </header>
  <router-outlet></router-outlet>
  <aside class="page-aside">Default Sample Aside</aside>
  <aside class="page-aside right">Right Sample Aside</aside>
  <footer class="page-footer">
    Footer
  </footer>
</main>