<header>
  <h1>Examples</h1>
</header>

<article class="doc">
  <header>
    <h2>Typography</h2>
  </header>
  <section class="content">
    <article class="doc">
      <header><h3>Navigation Bar</h3></header>
      <section class="content">
        <section class="example">
          <ul class="reseted-list">
            <li><a href="#">Route 1</a></li>
            <li class="active"><a href="#">Active Route</a></li>
            <li><a href="#">Route 2</a></li>
            <li class="Disabled"><a href="#">Disabled route</a></li>
            <li><a href="#">Route 2</a></li>
          </ul>
        </section>
        <h6>Default</h6>
        <section class="example" style="background: #FFE0B2">
          <div class="navbar">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <ul class="nav-list pull-right">
              <li><a href="#">Route 1</a></li>
              <li class="active"><a href="#">Active Route</a></li>
              <li><a href="#">Route 2</a></li>
              <li class="disabled"><a href="#">Disabled route</a></li>
              <li><a href="#">Route 2</a></li>
            </ul>
            <div class="toggle-button pull-right"><i class="fa fa-cog"></i></div>
          </div>
        </section>
        <h6>On light background</h6>
        <section class="example" style="background: #D1C4E9">
          <div class="navbar light">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <ul class="nav-list pull-right">
              <li><a href="#">Route 1</a></li>
              <li class="active"><a href="#">Active Route</a></li>
              <li><a href="#">Route 2</a></li>
              <li class="disabled"><a href="#">Disabled route</a></li>
              <li><a href="#">Route 2</a></li>
            </ul>
            <div class="toggle-button pull-right"><i class="fa fa-cog"></i></div>
          </div>
        </section>
        <h6>On dark background</h6>
        <section class="example" style="background: #d50000">
          <div class="navbar dark">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <ul class="nav-list pull-right">
              <li><a href="#">Route 1</a></li>
              <li class="active"><a href="#">Active Route</a></li>
              <li><a href="#">Route 2</a></li>
              <li class="disabled"><a href="#">Disabled route</a></li>
              <li><a href="#">Route 2</a></li>
            </ul>
            <div class="toggle-button pull-right"><i class="fa fa-cog"></i></div>
          </div>
        </section>
        <h6>On white background</h6>
        <section class="example">
          <div class="navbar white">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <ul class="nav-list pull-right">
              <li><a href="#">Route 1</a></li>
              <li class="active"><a href="#">Active Route</a></li>
              <li><a href="#">Route 2</a></li>
              <li class="disabled"><a href="#">Disabled route</a></li>
              <li><a href="#">Route 2</a></li>
            </ul>
            <div class="toggle-button pull-right"><i class="fa fa-cog"></i></div>
          </div>
        </section>
        <h6>On dark gray background</h6>
        <section class="example">
          <div class="navbar dark-gray">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <ul class="nav-list pull-right">
              <li><a href="#">Route 1</a></li>
              <li class="active"><a href="#">Active Route</a></li>
              <li><a href="#">Route 2</a></li>
              <li class="disabled"><a href="#">Disabled route</a></li>
              <li><a href="#">Route 2</a></li>
            </ul>
            <div class="toggle-button pull-right"><i class="fa fa-cog"></i></div>
          </div>
        </section>
        <h5>Collapsed menu</h5>
        <div class="example">
          <div class="navbar light" style="background-color: #B2FF59">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <ul class="nav-list pull-right">
              <li><a href="#">On all devices</a></li>
              <li class="collapse-button expand-on-tablet">
                <div class="hamburger-button">
                  <div class="lines"></div>
                </div>
              </li>
              <li><a href="#">Route 1</a></li>
              <li><a href="#">Route 2</a></li>
              <li class="collapse-button expand-on-laptop">
                <div class="hamburger-button">
                  <div class="lines"></div>
                </div>
              </li>
              <li><a href="#">Route 3</a></li>
              <li><a href="#">Route 4</a></li>
              <li class="collapse-button expand-on-hd">
                <div class="hamburger-button">
                  <div class="lines"></div>
                </div>
              </li>
              <li><a href="#">Route 5</a></li>
              <li><a href="#">Route 6</a></li>
            </ul>
            <div class="toggle-button"><i class="fa fa-cog"></i></div>
          </div>
        </div>
        <h5>With input</h5>
        <div class="example">
          <div class="navbar" style="background-color: #DDE">
            <div class="brand">
              <div class="icon"><i class="fa fa-th"></i></div>
              <div class="title">Example</div>
            </div>
            <input type="search" placeholder="Search">
            <input type="button" class="button" value="Submit">
            <div class="toggle-button"><i class="fa fa-cog"></i></div>
          </div>
        </div>
      </section>
      <header><h3>Tags</h3></header>
      <section class="content">
        <h5>Default Tags</h5>
        <section class="example" style="align-items: center; align-content: center; min-height: 3rem">
          <div class="tag">Default</div>
          <div class="tag">Primary</div>
          <div class="tag">Success</div>
          <div class="tag">Danger</div>
        </section>
      </section>
      <header><h3>Buttons</h3></header>
      <section class="content">
        <h5>Different elements</h5>
        <section class="example" style="align-items: center; align-content: center; min-height: 3rem">
          <div class="button">Button</div>
          <button class="button">Button</button>
          <input type="button" class="button" value="Button" />
          <span class="button">Button</span>
        </section>
        <h5>Semantic colors</h5>
        <section class="example" style="align-items: center; align-content: center; min-height: 3rem">
          <div class="button">Default</div>
          <div class="button primary">Primary</div>
          <div class="button success">Success</div>
          <div class="button danger">Danger</div>
        </section>
        <h5>Flat buttons</h5>
        <section class="example" style="align-items: center; align-content: center; min-height: 3rem">
          <div class="button flat">Default</div>
          <div class="button flat primary">Primary</div>
          <div class="button flat success">Success</div>
          <div class="button flat danger">Danger</div>
        </section>
      </section>
    </article>
    <article class="doc">
      <header>
        <h3>Font family</h3>
      </header>
      <section class="content">
        <h4>Default font</h4>
        <p>
          Font family: <code>Roboto, "Open Sans", "Helvetica Neue", Helvetica, Tahoma, Verdana, Geneva, Arial, sans-serif</code><br>
          Helper: <code>.body-font</code><br>
          SASS variable: <code>$font-family-default</code>
        </p>
        <section class="example">
          <p>Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Sans font</h4>
        <p>
          Font family: <code>Roboto, "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Tahoma, Verdana, Geneva, Arial, sans-serif</code>.<br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes (300, 400, 500, 700, 900)</code><br>
          Helper: <code>.font-sans</code><br>
          SASS function: <code>font-family(sans)</code>
        </p>
        <section class="example">
          <p class="font-sans">Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Condensed font</h4>
        <p>
          Font family: <code>"Roboto Condensed", "Open Sans Condensed", "Helvetica Condensed", "Arial Narrow", sans-serif</code>.<br>
          Weights: <code>300, 400, 700</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-condensed</code><br>
          SASS function: <code>font-family(condensed)</code>
        </p>
        <section class="example">
          <p class="font-condensed">Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Slab font</h4>
        <p>
          Font family: <code>'Roboto Slab', Georgia, serif</code><br>
          Weights: <code>100, 300, 400, 700</code><br>
          Italic: <code>No</code><br>
          Helper: <code>.font-slab</code><br>
          SASS function: <code>font-family(slab)</code>
        </p>
        <section class="example">
          <p class="font-slab">Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Serif font</h4>
        <p>
          Font family: <code>"Merriweather", Georgia, Times, "Times New Roman", serif</code>.<br>
          Weights: <code>300, 400, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-serif</code><br>
          SASS function: <code>font-family(serif)</code>
        </p>
        <section class="example">
          <p class="font-serif">Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Mono font</h4>
        <p>
          Font family: <code>"Ubuntu Mono", "Lucida Console", monospace</code>.<br>
          Weights: <code>400, 700</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-mono</code><br>
          SASS function: <code>font-family(mono)</code><br>
          SASS variable: <code>$font-family-mono-default</code>
        </p>
        <section class="example">
          <p class="font-mono">Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Mono serif font</h4>
        <p>
          Font family: <code>"Anonymous Pro", Consolas, monaco, "Courier New", Courier, monospace</code>.<br>
          Weights: <code>400, 700</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-mono-serif</code><br>
          SASS function: <code>font-family(mono-serif)</code>
        </p>
        <section class="example">
          <p class="font-mono-serif">Aenean at turpis <i>eget nulla sollicitudin semper</i> vitae in ante. <b>Phasellus eu velit dolor</b>. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>
      </section>
    </article>
    <article class="doc">
      <header>
        <h3>Headings</h3>
      </header>
      <section class="content">
        <p>
          Element: <code>h1, h2, h3, h4, h5, h6</code><br>
          Class: <code>.h1, .h2, .h3, .h4, .h5, .h6</code><br>
        </p>
        <section class="example">
          <h1>Heading element style: h1</h1>
          <h2>Heading element style: h2</h2>
          <h3>Heading element style: h3</h3>
          <h4>Heading element style: h4</h4>
          <h5>Heading element style: h5</h5>
          <h6>Heading element style: h6</h6>
        </section>
      </section>
    </article>
    <article class="doc">
      <header>
        <h3>Paragraphs</h3>
      </header>
      <section class="content">
        <h4>Default paragraph</h4>
        <p>
          Element: <code>p</code>
        </p>
        <section class="example">
          <p>Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
          <p>Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Lead</h4>
        <p>
          Element: <code>p.lead</code><br>
          Class: <code>.text-lead</code>
        </p>
        <section class="example">
          <p class="lead">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Large</h4>
        <p>
          Element: <code>p.large</code><br>
          Class: <code>.text-large</code>
        </p>
        <section class="example">
          <p class="large">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Bigger</h4>
        <p>
          Element: <code>p.bigger</code><br>
          Class: <code>.text-bigger</code>
        </p>
        <section class="example">
          <p class="bigger">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Smaller</h4>
        <p>
          Element: <code>p.smaller</code><br>
          Class: <code>.text-smaller</code>
        </p>
        <section class="example">
          <p class="smaller">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Small</h4>
        <p>
          Element: <code>p.small</code><br>
          Class: <code>.text-small</code>
        </p>
        <section class="example">
          <p class="small">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>
      </section>
    </article>
  </section>

  <header>
    <h2>Layout</h2>
  </header>
  <section class="content">
    <article class="doc">
      <header>
        <h3>Mixins</h3>
      </header>
      <section class="content">
        <h4>Size</h4>
        <p>
          Name: <code>size</code><br>
          Parameters: <code>width, height</code><br>
        </p>
        <section class="example">
          <p><code>@include size(100%, 100%);</code></p>
        </section>
        <p>
          Name: <code>min-size</code><br>
          Parameters: <code>width, height</code><br>
        </p>
        <p>
          Name: <code>max-size</code><br>
          Parameters: <code>width, height</code><br>
        </p>

        <h4>Position shortcuts</h4>
        <p>
          Name: <code>position</code><br>
          Parameters: <code>&lt;type&gt;, $top, $right, $bottom, $left</code><br>
        </p>
        <section class="example">
          <p><code>@include position(absolute, 0, 0, 0, 0);</code></p>
        </section>

        <h4>Absolute position shortcut</h4>
        <p>
          Name: <code>absolute</code><br>
          Parameters: <code>$top, $right, $bottom, $left</code><br>
        </p>
        <section class="example">
          <p><code>@include absolute(0, 0, 0, 0);</code></p>
        </section>

        <h4>Relative position shortcut</h4>
        <p>
          Name: <code>relative</code><br>
          Parameters: <code>$top, $right, $bottom, $left</code><br>
        </p>
        <section class="example">
          <p><code>@include relative(0, 0, 0, 0);</code></p>
        </section>

        <h4>Fixed position shortcut</h4>
        <p>
          Name: <code>fixed</code><br>
          Parameters: <code>$top, $right, $bottom, $left</code><br>
        </p>
        <section class="example">
          <p><code>@include fixed(0, 0, 0, 0);</code></p>
        </section>

        <h4>Flex-box based container</h4>
        <p>
          Name: <code>flex-container</code><br>
          Parameters: <code>$display: flex, $direction: row, $wrap: nowrap</code><br>
        </p>
        <section class="example">
          <p><code>@include flex-container($wrap: wrap);</code></p>
        </section>

        <h4>Inline Flex-box based container</h4>
        <p>
          Name: <code>flex-inline</code><br>
          Parameters: <code>$direction: row, $wrap: nowrap</code><br>
        </p>
        <section class="example">
          <p><code>@include flex-inline($wrap: wrap);</code></p>
        </section>

        <h4>Flex-box container inner content align</h4>
        <p>
          Name: <code>flex-align</code><br>
          Parameters: <code>$align: stretch, $align-content: flex-start, $justify: flex-start</code><br>
        </p>
        <section class="example">
          <p><code>@include flex-align;</code></p>
        </section>

        <h4>Flex-box container inner content align shorthands</h4>
        <p>
          Name: <code>flex-align-middle</code><br>
          Name: <code>flex-align-stretch</code><br>
          Name: <code>flex-align-top</code><br>
          Name: <code>flex-align-bottom</code><br>
          Name: <code>flex-align-center</code><br>
          Name: <code>flex-align-left</code><br>
          Name: <code>flex-align-right</code><br>
        </p>
        <section class="example"></section>

        <h4>Flex-box container with align shorthands</h4>
        <p>
          Name: <code>flex-center</code><br>
          Name: <code>flex-inline-center</code><br>
          Name: <code>flex-middle-left</code><br>
          Name: <code>flex-row</code><br>
          Name: <code>flex-rows</code><br>
          Name: <code>flex-column</code><br>
          Name: <code>flex-columns</code><br>
        </p>
        <section class="example"></section>

        <h4>Flex-box container child element with fixed size</h4>
        <p>
          Name: <code>flex-child-fixed</code><br>
          Parameters: <code>$display: flex, $direction: row, $wrap: nowrap</code><br>
        </p>
        <section class="example">
          <p><code>@include flex-child-fixed;</code></p>
        </section>

        <h4>Flex-box container child element with fluid size</h4>
        <p>
          Name: <code>flex-child-fluid</code><br>
          Parameters: <code>$weight: 1</code><br>
        </p>
        <section class="example">
          <p><code>@include flex-child-fluid(2);</code></p>
        </section>

    <article class="doc">
      <header>
        <h3>Containers</h3>
      </header>
      <section class="content">
        <h4>Row</h4>
        <p></p>
        <section class="example">
          <div class="row">
            <div style="background: red; color: white;">A</div>
            <div class="" style="background: green; color: white;">B</div>
            <div class="cell" style="background: blue; color: white;">Cell</div>
            <div class="block" style="background: orangered; color: white;">Block</div>
            <div class="cell" style="background: blue; color: white;">Cell</div>
            <div class="" style="background: green; color: white;">B</div>
          </div>
          <p>With fluid childs</p>
          <div class="row">
            <div class="fluid" style="background: red; color: white;">A</div>
            <div class="fluid" style="background: green; color: white;">B</div>
            <div class="fluid" style="background: blue; color: white;">C</div>
            <div class="fluid" style="background: orangered; color: white;">D</div>
          </div>
        </section>
        <h4>Row inner elements layout</h4>
        <h5>Default (unstyled)</h5>
        <section class="example">
          <p>Default + Cell + Default</p>
          <div class="row">
            <div class="default">Default</div>
            <div class="cell">Cell</div>
            <div class="default">Default</div>
          </div>
          <p>Default + Block + Default</p>
          <div class="row">
            <div class="default">Default</div>
            <div class="block">block</div>
            <div class="default">Default</div>
          </div>
          <p>Default + Splitter + Default</p>
          <div class="row">
            <div class="default">Default</div>
            <div class="splitter"></div>
            <div class="default">Default</div>
          </div>
          <p>Default + Icon + Default</p>
          <div class="row">
            <div class="default">Default</div>
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="default">Default</div>
          </div>
          <p>Default + Spacer + Default</p>
          <div class="row">
            <div class="default">Default</div>
            <div class="spacer"></div>
            <div class="default">Default</div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="default">Default</div>
            <div class="filler"></div>
            <div class="default">Default</div>
          </div>
        </section>

        <h5>Cell</h5>
        <section class="example">
          <p>Cell + Cell + Cell</p>
          <div class="row">
            <div class="cell">Cell</div>
            <div class="cell">Cell</div>
            <div class="cell">Cell</div>
          </div>
          <p>Cell + Block + Cell</p>
          <div class="row">
            <div class="cell">Cell</div>
            <div class="block">block</div>
            <div class="cell">Cell</div>
          </div>
          <p>Cell + Splitter + Cell</p>
          <div class="row">
            <div class="cell">Cell</div>
            <div class="splitter"></div>
            <div class="cell">Cell</div>
          </div>
          <p>Cell + Icon + Cell</p>
          <div class="row">
            <div class="cell">Cell</div>
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="cell">Cell</div>
          </div>
          <p>Cell + Spacer + Cell</p>
          <div class="row">
            <div class="cell">Cell</div>
            <div class="spacer"></div>
            <div class="cell">Cell</div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="cell">Cell</div>
            <div class="filler"></div>
            <div class="cell">Cell</div>
          </div>
        </section>

        <h5>Block</h5>
        <section class="example">
          <p>Block + Block + Block</p>
          <div class="row">
            <div class="block">Block</div>
            <div class="block">block</div>
            <div class="block">Block</div>
          </div>
          <p>Block + Splitter + Block</p>
          <div class="row">
            <div class="block">Block</div>
            <div class="splitter"></div>
            <div class="block">Block</div>
          </div>
          <p>Block + Icon + Block</p>
          <div class="row">
            <div class="block">Block</div>
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="block">Block</div>
          </div>
          <p>Block + Spacer + Block</p>
          <div class="row">
            <div class="block">Block</div>
            <div class="spacer"></div>
            <div class="block">Block</div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="block">Block</div>
            <div class="filler"></div>
            <div class="block">Block</div>
          </div>
        </section>

        <h5>Splitter</h5>
        <section class="example">
          <p>Splitter + Splitter + Splitter</p>
          <div class="row">
            <div class="splitter"></div>
            <div class="splitter"></div>
            <div class="splitter"></div>
          </div>
          <p>Splitter + Splitter + Splitter (wide)</p>
          <div class="row">
            <div class="splitter wide"></div>
            <div class="splitter wide"></div>
            <div class="splitter wide"></div>
          </div>
          <p>Splitter + Icon + Splitter</p>
          <div class="row">
            <div class="splitter"></div>
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="splitter"></div>
          </div>
          <p>Splitter + Spacer + Splitter</p>
          <div class="row">
            <div class="splitter"></div>
            <div class="spacer"></div>
            <div class="splitter"></div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="splitter"></div>
            <div class="filler"></div>
            <div class="splitter"></div>
          </div>
        </section>

        <h5>Splitter (wide)</h5>
        <section class="example">
          <p>Splitter + Icon + Splitter</p>
          <div class="row">
            <div class="splitter wide"></div>
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="splitter wide"></div>
          </div>
          <p>Splitter + Spacer + Splitter</p>
          <div class="row">
            <div class="splitter wide"></div>
            <div class="spacer"></div>
            <div class="splitter wide"></div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="splitter wide"></div>
            <div class="filler"></div>
            <div class="splitter wide"></div>
          </div>
        </section>

        <h5>Icon</h5>
        <section class="example">
          <p>Icon + Icon + Icon</p>
          <div class="row">
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="icon"><i class="fa fa-bus"></i></div>
          </div>
          <p>Icon + Spacer + Icon</p>
          <div class="row">
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="spacer"></div>
            <div class="icon"><i class="fa fa-bus"></i></div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="icon"><i class="fa fa-bus"></i></div>
            <div class="filler"></div>
            <div class="icon"><i class="fa fa-bus"></i></div>
          </div>
        </section>

        <h5>Spacer</h5>
        <section class="example">
          <p>Spacer + Spacer + Spacer</p>
          <div class="row">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
          </div>
          <p>with row borders</p>
          <div class="row">
            <div class="spacer"></div>
            <div class="filler"></div>
            <div class="spacer"></div>
          </div>
        </section>

        <h4>Column</h4>
        <p></p>
        <section class="example">
          <div class="column" style="height: 240px; background: rgba(253, 199, 2, 0.2)">
            <div style="background: red; color: white;">A</div>
            <div style="background: green; color: white;">B</div>
            <div style="background: blue; color: white;">C</div>
            <div style="background: orangered; color: white;">D</div>
          </div>
          <p>With fluid childs</p>
          <div class="column" style="height: 240px; background: rgba(253, 199, 2, 0.2)">
            <div class="fluid" style="background: red; color: white;">A</div>
            <div class="fluid" style="background: green; color: white;">B</div>
            <div class="fluid" style="background: blue; color: white;">C</div>
            <div class="fluid" style="background: orangered; color: white;">D</div>
          </div>
        </section>

        <h4></h4>
        <p></p>
        <section class="example">
          <p class="font-mono-serif"></p>
        </section>
      </section>
    </article>

    <article class="doc">
      <header>
        <h3>Helpers</h3>
      </header>
      <section class="content">
        <h4>Shadow</h4>
        <p></p>
        <section class="example">
          <div class="box-shadow-1" style="display: inline-block; width: 100px; height: 100px; margin: 1.5rem; background: yellow">depth-1</div>
          <div class="box-shadow-2" style="display: inline-block; width: 100px; height: 100px; margin: 1.5rem; background: yellow">depth-2</div>
          <div class="box-shadow-3" style="display: inline-block; width: 100px; height: 100px; margin: 1.5rem; background: yellow">depth-3</div>
          <div class="box-shadow-4" style="display: inline-block; width: 100px; height: 100px; margin: 1.5rem; background: yellow">depth-4</div>
          <div class="box-shadow-5" style="display: inline-block; width: 100px; height: 100px; margin: 1.5rem; background: yellow">depth-5</div>
        </section>
      </section>
    </article>

    <article class="doc">
      <header>
        <h3>Components</h3>
      </header>
      <section class="content">
        <h4>Hamburger button</h4>
        <p></p>
        <section class="example">
          <p>Default</p>
          <div class="hamburger-button black"><div class="lines"></div></div>
          <p>With title</p>
          <div class="hamburger-button black"><div class="lines"></div><div>Menu</div></div>
          <p>With color</p>
          <div class="hamburger-button black red"><div class="lines"></div></div>
          <p>With <code>hover-to-*</code> modificator </p>
          <div class="hamburger-button hover-to-arrow-down black"><div class="lines"></div><div>Down</div></div>
          <div class="hamburger-button hover-to-arrow-up black"><div class="lines"></div><div>Up</div></div>
          <div class="hamburger-button hover-to-arrow-left black"><div class="lines"></div><div>Left</div></div>
          <div class="hamburger-button hover-to-arrow-right black"><div class="lines"></div><div>Right</div></div>
          <div class="hamburger-button hover-to-close red"><div class="lines"></div><div>Close</div></div>
        </section>
      </section>
    </article>
  </section>
</article>
