<h1>Examples</h1>

<article class="doc">
  <header>
    <h2>Typography</h2>
  </header>
  <section class="content">
    <article class="doc">
      <header>
        <h3>Font family</h3>
      </header>
      <section class="content">
        <h4>Default font</h4>
        <p>
          Font family: <code>Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif</code><br>
          Helper: <code>.body-font</code><br>
          SASS variable: <code>$font-family-default</code>
        </p>
        <section class="example">
          <p>Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Sans font</h4>
        <p>
          Font family: <code>Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif</code>.<br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-sans</code><br>
          SASS function: <code>font-family(sans)</code>
        </p>
        <section class="example">
          <p class="font-sans">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Condensed font</h4>
        <p>
          Font family: <code>"Roboto Condensed", "Open Sans Condensed", "Helvetica Condensed", "Arial Narrow", sans-serif</code>.<br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-condensed</code><br>
          SASS function: <code>font-family(condensed)</code>
        </p>
        <section class="example">
          <p class="font-condensed">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Slab font</h4>
        <p>
          Font family: <code>"Roboto Slab", Helvetica, Arial, sans-serif</code><br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-slab</code><br>
          SASS function: <code>font-family(slab)</code>
        </p>
        <section class="example">
          <p class="font-slab">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Serif font</h4>
        <p>
          Font family: <code>Merriweather</code>.<br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-serif</code><br>
          SASS function: <code>font-family(serif)</code>
        </p>
        <section class="example">
          <p class="font-serif">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Mono font</h4>
        <p>
          Font family: <code>Ubuntu Mono</code>.<br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-mono</code><br>
          SASS function: <code>font-family(mono)</code><br>
          SASS variable: <code>$font-family-mono-default</code>
        </p>
        <section class="example">
          <p class="font-mono">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Mono serif font</h4>
        <p>
          Font family: <code>Anonymous Pro</code>.<br>
          Weights: <code>100, 300, 400, 500, 700, 900</code><br>
          Italic: <code>Yes</code><br>
          Helper: <code>.font-mono-serif</code><br>
          SASS function: <code>font-family(mono-serif)</code>
        </p>
        <section class="example">
          <p class="font-mono-serif">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>
      </section>
    </article>
    <article class="doc">
      <header>
        <h3>Headings</h3>
      </header>
      <section class="content">
        <p>
          Element: <code>h1, h2, h3, h4, h5, h6</code><br>
          Class: <code>.h1, .h2, .h3, .h4, .h5, .h6</code><br>
        </p>
        <section class="example">
          <h1>Heading element style: h1</h1>
          <h2>Heading element style: h2</h2>
          <h3>Heading element style: h3</h3>
          <h4>Heading element style: h4</h4>
          <h5>Heading element style: h5</h5>
          <h6>Heading element style: h6</h6>
        </section>
      </section>
    </article>
    <article class="doc">
      <header>
        <h3>Paragraphs</h3>
      </header>
      <section class="content">
        <h4>Default paragraph</h4>
        <p>
          Element: <code>p</code>
        </p>
        <section class="example">
          <p>Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
          <p>Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Lead</h4>
        <p>
          Element: <code>p.lead</code><br>
          Class: <code>.text-lead</code>
        </p>
        <section class="example">
          <p class="lead">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Large</h4>
        <p>
          Element: <code>p.large</code><br>
          Class: <code>.text-large</code>
        </p>
        <section class="example">
          <p class="large">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Bigger</h4>
        <p>
          Element: <code>p.bigger</code><br>
          Class: <code>.text-bigger</code>
        </p>
        <section class="example">
          <p class="bigger">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Smaller</h4>
        <p>
          Element: <code>p.smaller</code><br>
          Class: <code>.text-smaller</code>
        </p>
        <section class="example">
          <p class="smaller">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>

        <h4>Small</h4>
        <p>
          Element: <code>p.small</code><br>
          Class: <code>.text-small</code>
        </p>
        <section class="example">
          <p class="small">Aenean at turpis eget nulla sollicitudin semper vitae in ante. Phasellus eu velit dolor. Nullam pharetra nunc diam, in tempus metus blandit eu. Pellentesque vel augue ac tellus viverra vulputate in sed felis. Nunc sed molestie massa, sed dictum nibh. Maecenas vel volutpat felis. Cras viverra, nisi quis malesuada laoreet, dui eros ultricies lectus, at efficitur ex erat vel augue.</p>
        </section>
      </section>
    </article>
  </section>
</article>
