// Flexbox
@mixin display-flex($inline: false) {
  display: -webkit-#{ if($inline, 'inline-', '') }box;
  display: -moz-#{ if($inline, 'inline-', '') }box;
  display: -webkit-#{ if($inline, 'inline-', '') }flex;
  display: -ms-#{ if($inline, 'inline-', '') }flexbox;
  display: #{ if($inline, 'inline-flex', 'flex') };
}

@mixin flex-container($display: flex, $direction: row, $wrap: nowrap) {
  @include display-flex($display == inline-flex)
  flex-flow: $direction $wrap;
}

.flex { @include flex-container }

@mixin flex-inline($args...) {
  @include flex-container(inline-flex, $args...);
}

.flex-inline { @include flex-inline }

// Children Align
@mixin flex-align($align: stretch, $align-content: flex-start, $justify: flex-start) {
  align-content: $align-content;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-align-middle {
  @include flex-align(center, center);
}

@mixin flex-align-stretch {
  @include flex-align(stretch, stretch);
}

@mixin flex-align-top {
  @include flex-align(flex-start, flex-start);
}

@mixin flex-align-bottom {
  @include flex-align(flex-end, flex-end);
}

@mixin flex-align-center {
  @include flex-align($justify: center);
}

@mixin flex-align-left {
  @include flex-align($justify: flex-start);
}

@mixin flex-align-right {
  @include flex-align($justify: flex-end);
}

// Flex blocks shorthands
@mixin flex-center {
  @include flex-container;
  @include flex-align(center, center, center);
}

@mixin flex-inline-center {
  @include flex-inline;
  @include flex-align(center, center, center);
}

@mixin flex-middle-left {
  @include flex-container;
  @include flex-align-middle;
}

@mixin flex-row {
  @include flex-container;
  @include flex-align(stretch, stretch);
}

@mixin flex-rows {
  @include flex-row;
  flex-wrap: wrap;
}

@mixin flex-column {
  @include flex-container($direction: column);
  @include flex-align(stretch, stretch);
}

@mixin flex-inline-column {
  @include flex-inline(column);
  @include flex-align(stretch, stretch);
}

@mixin flex-columns {
  @include flex-column;
  flex-wrap: wrap;
}

// Children size
@mixin flex-child($basis, $grow, $shink) {
  flex-grow: $grow;
  flex-shrink: $shink;
  flex-basis: $basis;
}

@mixin flex-child-fixed($basis: auto) {
  @include flex-child($basis, 0, 0);
}

@mixin flex-child-fluid($weight: 1, $basis: auto) {
  @include flex-child($basis, $weight, $weight);
}