// Size
@mixin size($width: null, $height: null) {
  width: $width;
  height: $height;
}

@mixin min-size($width: null, $height: null) {
  min-width: $width;
  min-height: $height;
}

@mixin max-size($width: null, $height: null) {
  max-width: $width;
  max-height: $height;
}

@mixin width-limits($min-width: null, $max-width: null) {
  min-width: $min-width;
  max-width: $max-width;
}

@mixin height-limits($min-height: null, $max-height: null) {
  min-height: $min-height;
  max-height: $max-height;
}

// Position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}
