body {
  @extend .body-font;
}


// Code blocks
$code-font-family: font-family(mono);
$code-font-weight: 400;

code,
kbd,
pre,
samp {
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  font-size: 0.9375em;
  border-radius: 2px;
}

// Code
$code-color: #d50000;
$code-background-color: darken(white, 2%);
$code-border: 1px solid darken($code-background-color, 15%);
$code-padding: calc(#{$line-height/8} - 1px) calc(#{$column-width/2} - 1px);

code {
  color: $code-color;
  background-color: $code-background-color;
  border: $code-border;
  padding: $code-padding;
}

// Pre
$pre-color: lighten(black, 30%);
$pre-border: 1px solid darken(white, 10%);
$pre-border-radius: 0;
$pre-padding: $line-height calc(#{$column-width*2} - 1px);
$pre-margin: calc(#{$line-height} - 1px) 0;

pre {
  border: $pre-border;
  @include striped-background($color1: rgba(69, 142, 209, 0.07));
  color: $pre-color;
  line-height: $line-height;
  padding: $pre-padding;
  margin: $pre-margin;
  tab-size: 2;
  width: 100%;
}

// Keyboard input
$kbd-color: white;
$kbd-background-color: lighten(black, 10%);
$kbd-padding: 0.25em 0.5em;

kbd {
  color: $kbd-color;
  background-color: $kbd-background-color;
  padding: $kbd-padding;
  border: none;
  white-space: nowrap;
}
