/* 
*  Font families
*/

// Sans-serif font: Roboto
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,500italic,700italic,900italic);
// Condensed font: Roboto Condensed
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,300italic,400italic,700italic);
// Serif: Merriweather
@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,900,300italic,300,700,700italic,900italic);
// Mono: Ubuntu (sans-serif) and Anonymous Pro (serif)
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:700,400,700italic,400italic);

// Font family sets:
$font-families: (
  sans: (Roboto, "Open Sans", "Helvetica Neue", Helvetica, Tahoma, Verdana, Geneva, Arial, sans-serif),
  condensed: ("Roboto Condensed", "Open Sans Condensed", "Helvetica Condensed", "Arial Narrow", sans-serif),
  slab: ("Roboto Slab", Helvetica, Arial, sans-serif),
  serif: ("Merriweather", Georgia, Times, "Times New Roman", serif),
  mono: ("Ubuntu Mono", "Lucida Console", monospace),
  mono-serif: ("Anonymous Pro", Consolas, monaco, "Courier New", Courier, monospace),
);

@function font-family($key) {
  @if map-has-key($font-families, $key) {
    @return map-get($font-families, $key);
  }

  @warn "Unknown `#{$key}` in $font-families.";
  @return null;
};

// CSS helpers classes
@each $family, $value in $font-families {
  .font-#{$family} { font-family: $value; }
}

$font-family-default: font-family($font-default-type) !default;
$font-family-mono: font-family(mono) !default;

/*
* Font variants
*/ 

// Sizes

@function font-size($key) {
  @if map-has-key($font-size-variations, $key) {
    @return map-get($font-size-variations, $key);
  }

  @warn "Unknown `#{$key}` in $font-size-variations.";
  @return null;
}

@each $name, $value in $font-size-variations {
  .font-#{$name} {
    font-size: $body-font-size * $value;
  }
}

// Style
.font-italic { font-style: italic }
.font-oblique { font-style: oblique }

// Weight
.font-ultra-light { font-weight: 100; }
.font-light { font-weight: 300; }
.font-heavier { font-weight: 500; }
.font-heavy { font-weight: 700; }
.font-ultra-heavy { font-weight: 900; }

// Transform
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

// Decoration
.text-line-through { text-decoration: line-through; }
.text-overline { text-decoration: overline; }
.text-underline { text-decoration: underline; }

// Align
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// Letter spacing
.inc-letter-spacing-quarter-px { letter-spacing: 0.25px; }
.inc-letter-spacing-half-px { letter-spacing: 0.5px; }
.inc-letter-spacing-one-px { letter-spacing: 1px; }
.dec-letter-spacing-quarter-px { letter-spacing: -0.25px; }
.dec-letter-spacing-half-px { letter-spacing: -0.5px; }
.dec-letter-spacing-one-px { letter-spacing: -1px; }

// Wrapping
.text-nowrap { white-space: nowrap; }
.text-pre-wrap { white-space: pre-wrap; }

// Text with shadow
@for $i from 1 through 5 {
  .text-shadow-#{$i} {
    text-shadow: bottom-shadow($i), top-shadow($i);
  }
}