$font-family-default: font-family(sans) !default;
$font-family-mono-default: font-family(mono) !default;

$base-font-size: 16px !default;
$body-font-size: 1rem;
$line-height: 1.5rem !default;

// headings

// paragraphs
$paragraph-font-size: $body-font-size !default;
