$base-font-size: 16px !default;
$body-font-size: 1rem;
$line-height: 1.5rem !default;

// Fonts
$font-default-type: sans;

$font-size-variations: (
  lead: 1.25,
  large: 1.5,
  bigger: 1.25,
  smaller: 0.875,
  small: 0.75,
) !default;

// headings

// paragraphs
$paragraph-font-size: $body-font-size !default;
