$main-opacity: 1 !default;
$secondary-opacity: .6 !default;
$line-height: 1.5rem !default;
$column-width: 1rem !default;
$brand-icon-size: $line-height * 2;

/* Brand element */
.brand {
  @include flex-inline;
  @include reset-link;
  align-items: center;

  cursor: pointer;
  opacity: $secondary-opacity;
  margin: 0 $column-width;
  transition: opacity .5s ease .3s, color .5s ease;

  > .icon, > .logo {
    @include flex-center;
    @include size($brand-icon-size, $brand-icon-size);
    font-size: 1.5em;
    margin-right: $column-width / 2;
  }

  > .name {
    @include flex-center;
    font-weight: 700;
    text-transform: lowercase;
  }

  &:hover, &:active, &:focus {
    opacity: $main-opacity;
    transition: opacity .3s ease, color .5s ease .3s;
  }
}
