$line-height: 1.5rem !default;
$column-width: 1rem !default;
$tag-base-height: $line-height / 2 !default;

.tag {
  @include flex-inline-center;
  @include text-ellipsis(nowrap);
  font-size: $tag-base-height;
  line-height: $tag-base-height;
  padding: calc(#{$tag-base-height / 3} - 1px) ($column-width / 2);
  border-radius: .25rem;
  border: 1px solid;
  @include box_shadow(1);

  color: rgba(0,0,0,0.6);

  &.dark {
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.5);
    color: white;
  }
}

.tags {
  @include row-container;

  .tag {
    align-self: center;
    margin: ($tag-base-height / 6) ($column-width / 2) ($tag-base-height / 6) 0;
    margin-left: 0;
  }
}
