$line-height: 1.5rem !default;
$column-width: 1rem !default;
$main-opacity: 1 !default;
$secondary-opacity: 0.6 !default;
$disabled-opacity: 0.2 !default;

$button-border-width: 1px !default;

button,
input[type="button"],
.button {
  @include flex-inline-center;
  @include reset-button;
  padding: (.2 * $line-height) $column-width;
  margin: calc(#{.3 * $line-height} - #{$button-border-width}) ($column-width/2);
  border: $button-border-width solid;
  border-radius: .25rem;
  background: rgba(0,0,0,.15);
  font-size: .875rem;
  font-weight: 500;
  cursor: pointer;

  opacity: $secondary-opacity;
  transition: opacity .3s ease;

  &:hover { opacity: $main-opacity; }
}


button,
input[type="button"],
.button {
   border-color: rgba(0,0,0,0.3);
}
