@import "../components/hamburger";

$line-height: 1.5rem !default;
$col-width: 1rem !default;
$navbar-height: $line-height * 3;
$disabled-opacity: .4 !default;
$secondary-opacity: .6 !default;
$hover-opacity: 1 !default;
$active-route-color: white !default;
$hover-link-color: white !default;

.navbar {
  @include reset-link;
  @extend .row;
  min-height: $navbar-height;
  border-width: 0;
  font-weight: 500;
  margin-bottom: $line-height;


  > .brand {
    margin-left: 0;
  }

  > ul.nav-list {
    @include reset-list;
    @include row-layout;

    > li {
      @include row-text-line;
      @include flex-row;
      opacity: $secondary-opacity;
      transition: all .3s ease;

      &:not(.disabled) {
        &:hover, &.active {
          opacity: $hover-opacity;
        }

        &.active {
          text-shadow: bottom-shadow(1), top-shadow(1);
          border-bottom: 1px solid;
        }
      }

      &.disabled {
        opacity: $disabled-opacity;
      }

      > a {
        @include flex-center;
        padding: 0 $col-width;
        margin: -2px 0;
      }

      &.collapse-button {
        @include flex-align-middle;
      }
    }
  }
}

@mixin navbar-colorize($cls: null, $bkg: transparent, $clr: inherit) {
  $selector: if($cls, #{"&." + $cls}, "&");
  #{$selector} {
    background: $bkg;
    color: $clr;

    @if type-of($clr) == color {
      > ul.nav-list li:not(.disabled).active {
        background-color: rgba($clr,.1);
      }

      > ul.nav-list li.collapse-button > .hamburger-button {
        @include hamburger-button-colorize($color: $clr);
      }
    }
  }
}

.navbar {
  @include navbar-colorize;
  @include navbar-colorize(light, $clr: #111);
  @include navbar-colorize(dark, $clr: white);
  @include navbar-colorize(white, white, #111);
  @include navbar-colorize(dark-gray, #333, white);
}
