@import "../components/hamburger";

$line-height: 1.5rem !default;
$col-width: 1rem !default;
$navbar-height: $line-height * 3;
$disabled-opacity: .4 !default;
$secondary-opacity: .6 !default;
$hover-opacity: 1 !default;
$active-route-color: white !default;
$hover-link-color: white !default;

@mixin navbar-list-column {
  flex: 1 1 100%;
  order: 999;
  @include flex-column;
  overflow: hidden;
  z-index: 1;
  border-bottom: 2px solid rgba(white, .3);
  box-shadow: top-shadow(3), bottom-shadow(3);
  background: rgba(0, 0, 0, .4);
  color: white;
  margin-left: -$row-padding;

  > li {
    min-height: 2 * $line-height;

    &.active {
      border-left: 1px solid;
      border-bottom: 0;
    }
  }
}

@mixin navbar-list-row {
  flex: 0 0 auto;
  @include flex-row;
  border: none;
  box-shadow: none;
  padding-bottom: 0;
  margin-left: 0;
  background: transparent;
  color: inherit;
}

.navbar {
  @include reset-link;
  @extend .row;
  min-height: $navbar-height;
  border-width: 0;
  font-weight: 500;
  margin-bottom: $line-height;
  flex-wrap: wrap;

  > * {
    min-height: $navbar-height;
  }

  > .brand {
    margin-left: 0;
  }

  > .button {
    min-height: auto;
  }

  > ul.nav-list {
    @include reset-list;
    @include row-layout;

    > li {
      @include row-text-line;
      @include flex-row;
      opacity: $secondary-opacity;
      transition: all .3s ease;

      &:not(.disabled) {
        &:hover, &.active {
          opacity: $hover-opacity;
        }

        &.active {
          text-shadow: bottom-shadow(1), top-shadow(1);
          border-bottom: 1px solid;
        }
      }

      &.disabled {
        opacity: $disabled-opacity;
      }

      > a {
        @include flex-center;
        padding: 0 $col-width;
        margin: -2px 0;
      }
    }
  }

  @mixin expand-menu-media-query ($width) {
    @media (min-width: $width) {
      display: none;

      & + ul.nav-list {
        @include navbar-list-row;
      }
    }
  }

  .collapse-button {
    @include flex-align-middle;
    min-height: $navbar-height;

    & ~ ul.nav-list {
      @include navbar-list-column;

      min-height: 0;
      padding-bottom: 0;
      border-bottom-width: 0;
      transition: min-height .5s ease, padding-bottom .5s ease, border-bottom-width .3s ease;

      > li {
        margin-top: -2 * $line-height;
        transition: margin-top .5s cubic-bezier(0.285, 1.540, 0.780, 0.895);
      }
    }

    &:hover, &.expand {
      z-index: 10;

      & ~ ul.nav-list {
        min-height: $navbar-height;
        padding-bottom: $line-height;
        border-bottom-width: 2px;
        transition: min-height .5s ease, padding-bottom .5s ease, border-bottom-width .3s ease;

        > li {
          margin-top: 0;
          transition: margin-top .5s cubic-bezier(0.285, 1.540, 0.780, 0.895);
        }
      }
    }

    &:hover > .hamburger-button,
    &.expand > .hamburger-button {
      @include hamburger-arrow(35deg);

      > .lines { transform: rotate(270deg) scale(0.7); }
    }

    &.expand:hover > .hamburger-button {
      > .lines { transform: rotate(-270deg) scale(0.7); }
    }

    &.collapse-on-mobile { @include expand-menu-media-query(768px); }
    &.collapse-on-tablet { @include expand-menu-media-query(1024px); }
    &.collapse-on-desktop { @include expand-menu-media-query(1320px); }
    &.collapse-on-laptop { @include expand-menu-media-query(1920px); }
  }
}

@keyframes navlist-dropdown {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }
  100% {
    min-height: $navbar-height;
    padding-bottom: $line-height;
  }
}

@keyframes navlist-items-fade-in {
  0% {
    opacity: 0;
    margin-top: -6rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@mixin navbar-colorize($cls: null, $bkg: transparent, $clr: inherit) {
  $selector: if($cls, #{"&." + $cls}, "&");
  #{$selector} {
    background: $bkg;
    color: $clr;

    @if type-of($clr) == color {
      > ul.nav-list li:not(.disabled).active {
        background-color: rgba($clr,.1);
      }

      .collapse-button > .hamburger-button {
        @include hamburger-button-colorize($color: $clr);
      }
    }
  }
}

.navbar {
  @include navbar-colorize;
  @include navbar-colorize(light, $clr: #111);
  @include navbar-colorize(dark, $clr: white);
  @include navbar-colorize(white, white, #111);
  @include navbar-colorize(dark-gray, #333, white);
}
