
$line-height: 1.5rem !default;
$column-width: 1rem !default;

$row-border-width: 2px;
$row-padding: $column-width;
$row-child-margin: $column-width;

@mixin row-layout {
  @include flex-row;
  border-top: $row-border-width solid transparent;
  border-bottom: $row-border-width solid transparent;
  padding: 0 0 0 $row-padding;
  margin: 0;
  line-height: $line-height;

  /* Default child styles */
  > * {
    @include flex-container(inline-flex);
    @include flex-align-middle;
    @include flex-child-fixed(auto);
    margin-right: $row-child-margin;

    &:last-child { margin-right: $row-padding; }
  }
}

.row {
  @include row-layout;
  width: 100%;
  min-height: $line-height*2;
}
